
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #bea7fe, #eedaee, #C1D2DC, #FFCBFF);
    background-size: 200% 200%;
    animation: float 3s linear infinite alternate;
}
@keyframes float {
    from{background-position: 0 0 ;}
    to{background-position: 100% 100%;}
}

section {
        padding: 45px;
    background-color: aliceblue;
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px rgba(61, 61, 61,.4);
}
header img {
    width: 10rem;
}
header h3{
    color: #000000;
    font-size: 1.35rem;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}


main a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

main span{
    color: #bd5adb;
}
header p{
    font-size: 30px;
}

