*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    height: 10vh;
    background-image: linear-gradient(to left, #a7d2f7,  #cddaed);
  background-size: 500% 100%;
  animation: degrade-animado 2s infinite alternate;
}



@keyframes degrade-animado{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}

.img-logo {
    width: 30%;
}

section {
    height: auto;
  }

.flex {
    display: flex;
}

  .interface {
    max-width: 1680px;
    margin: 0 auto;
  }

  header {
    padding: 10px 2%;
  }
  header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    font-size: 4%;
  }

  header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-size: 50px;
  }

  header a:hover {
    color: black;
    transform: scaleX(1.05);
  }

  header nav ul {
    list-style-type: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 0 40px;
  }

  header .btn-contato button{
padding: 10px 40px;
font-size: 30px;
font-weight: 600;
background-color: #5a93b3;
border: 0;
border-radius: 30px;
cursor: pointer;
  }

  header .btn-contato button:hover{
    box-shadow: 0px 0px 40px  rgb(255, 255, 255);
  }
  
h2.titulo{
    color: black;
    text-align: center;
    font-size: 40px;
}
h2.titulo span{
color: rgb(255, 247, 247);
}
 

  /*estilo do topo do site*/
  

section.topo-do-site {
padding: 40px 4%;
    }

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

    .topo-do-site h1{
        color: black;
        font-size: 42px;
        line-height: 40px;
    }
    .txt-topo-do-site p{
      font-size: 35px;
    }

    .topo-do-site .txt-topo-do-site h1 span{
        color: rgb(255, 255, 255);
        font-size: 8rem;
        
    }
    .img-center{
        width: 40rem;
        
    }

    .topo-do-site .txt-topo-do-site p{
        color: black;
        margin: 40px 0;
    }

    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
        
    }


    @keyframes flutuar {
        0%{
            top: 0;
        }
        100%{
            top: 30px;
        }
    }



    /*especialidades*/

    section.especialidades{
    padding: 40px 4%;
    }

    section.especialidades .flex{
      gap: 90px;
    }
    

    .especialidades .especialidades-box {
        color: black;
        padding: 90px;
        border-radius: 25px;
        border: 2px solid #000000;
        margin-top: 45px;
        
    }

    .especialidades .especialidades-box h3 {
       font-size: 30px;
       margin: 10px 0;
    }

    .especialidades .especialidades-box:hover{
     transform: scale(1.05);
     box-shadow: 0 0 8px #ffffff;
    }
    
    .especialidades .especialidades-box p{
      font-size: 30px;
    }

    .especialidades-box a {
      
        color: rgb(7, 5, 5);
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
      }
      .especialidades-box h3{
        font-size: 30px;
        line-height: 40px;
      }
    
    

    